@import "tailwindcss";


@font-face {
    font-family: '42dotsans-extrabold';
    src: url(../assets/Fonts/42dotsans-extrabold.ttf);
}

@font-face {
    font-family: 'ABeeZee-Regular';
    src: url(../assets/Fonts/ABeeZee-Regular.ttf);
}

@font-face {
    font-family: 'AbhayLibre-ExtraBold';
    src: url(../assets/Fonts/AbhayaLibre-ExtraBold.ttf);
}

@font-face {
    font-family: 'Aboreto-Regular';
    src: url(../assets/Fonts/Aboreto-Regular.ttf);
}

@font-face {
    font-family: 'Amiko-Bold';
    src: url(../assets/Fonts/Amiko-Bold.ttf);
}

@font-face {
    font-family: 'Amiko-Regular';
    src: url(../assets/Fonts/Amiko-Regular.ttf);
}

@font-face {
    font-family: 'Amiko-SemiBold';
    src: url(../assets/Fonts/Amiko-SemiBold.ttf);
}

@font-face {
    font-family: 'BonheurRoyal-Regular';
    src: url(../assets/Fonts/ABeeZee-Regular.ttf);
}


.my-glass-effect {
    @apply background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 4px 2px rgba(255, 255, 255, 0.2);
    position: relative;
    overflow: hidden;
}

.my-glass-effect:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(
            90deg,
            transparent,
            rgba(255, 255, 255, 0.8),
            transparent
    );
}

.my-glass-effect:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.8),
            transparent,
            rgba(255, 255, 255, 0.3)
    );
}

