.Navbar{
    font-family: 'AbhayaLibre-ExtraBold';
    letter-spacing: 2px;
    color: snow;
    font-weight: 100;
    margin-top: 14px;
    font-size: 14px;
    
}
.Navlinks{
    border: 0.5px solid snow  ;
    width:40%;
    align-items: center;
}